* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

.header {
  width: 100%;
  height: 100vh;
  /* background: url("https://images.unsplash.com/photo-1453928582365-b6ad33cbcf64?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1952&q=80"); */
  /* background: url("https://images.unsplash.com/photo-1493723843671-1d655e66ac1c?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80"); */
  /* background-image: url("./images/pic3.jpg"); */
  /* background-image: url("https://www.fg-a.com/wallpapers/2017-white-circles.jpg"); */
  /* background-image: url("https://apkpure.com/white-background/com.qanjerumbi.white.whitebackground#com.qanjerumbi.white.whitebackground-1"); */
  background-color: #23263a;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
.navbar {
  width: 100%;
  height: 100px;
  /* opacity: 0.1; */
  position: fixed;
  top: 0;
  /* background: #b3c2b2; */
  /* background: #23263a; */
  background-color: #1f2235;
  z-index: 1;
  /* box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1); */
}

.navbar__container {
  display: flex;
  height: 100px;
  align-items: center;
  justify-content: space-between;
}
.navbar-brand {
  text-transform: uppercase;
/* font-family: 'Parisienne',cursive; */
font-family: fantasy;
  color: #fff;
  font-weight: 700;
  font-size: 35px;
}
/* .navbar__left-logo img {
  width: 110px;
} */

.navbar-brand {
  text-decoration: none;
}
.navbar_right {
  display: flex;
  list-style-type: none;
}
.navbar_right li a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  font-size: 18px;
  padding: 0 15px;
}

/* Helaper*/
.container {
  width: 1200px;
  margin: 0 auto;
}

.row {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}
.icon {
  margin: 24px 0;
  padding: 0;
}
.icon li {
    display: inline-block;
    margin: 0 15px;
    padding: 0;
    margin-bottom: 2px;
}
.col-6 {
  width: 50%;
}
.col-9 {
  width: 15%;
}

.header_content{
  display: flex;
  align-items: center;
  height: 100vh;
  width: 100%;
  color: rgb(150, 141, 141);
}

.header_ul {
  list-style-type: none;
  display: flex;
  margin-bottom: 20px;

}

.header_ul li {
  width: 50px;
  height: 50px;
  border: 2px solid #ff4a57;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s linear;
  margin: 0 10px;
}

.header_ul li:hover {
  background: #fff;
  border: 2px solid transparent;
}

.header_ul li:hover .header_icon {
  color: #ff4a57;
}
.header_ul li:first-child {
  margin-left: 0;
}
.header_section h1 {
  font-size: 35px;
  font-weight: 700;
  margin-bottom: 20px;
}
.header_section p {
  font-size: 25px;
  font-weight: 300;
  line-height: 35px;
}

.banner_img {
  padding: 0 30px;
  margin-top: 150px;
}
.skills {
  background: #23263a;
  padding: 100px 0;
  color: #fff;
}

.common {
  width: 33.33333333333333%;
  margin: 20px auto;
  text-align: center;
}

.heading {
  margin-bottom: 20px;
  font-weight: 500;
  color: #ff4a57;
  font-size: 16px;
}

.main_header {
  font-size: 32px;
  margin-bottom: 20px;
  color: #fff;
}

.main_content {
  font-size: 16px;
  color: #dfdfdf;
}

.common_border {
  background: #ff4a57;
  height: 3px;
  width: 100px;
  margin: 30px auto;
}

.col-4 {
  width: 33.33333333333333%;
}
.skills_box {
  padding: 40px;
  background: #1f2235;
  color: #fff;
  margin: 20px;
  transition: all 0.5s linear;
}
.skills_box:hover {
  background: #ff4a57;
}
.skills_box:hover .common_icons  {
  color: #fff;
}
.common_icons {
  font-size: 40px;
  color: #ff4a57;
  margin-bottom: 15px;
}

.skills_box_header {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 15px;
}

.skills_box_text {
  font-size: 14px;
  color: #dfdfdf;
}

.about {
  width: 100%;
  background: #1f2235;
  padding: 100px 0;
}

.about_img {
  padding: 30px;
}

.about_img img {
  width: 300px;
  height: 400px;
}

.about_info {
  color: #fff;
}
.h-650 {
  height: 650px;
}

.alignCenter {
  align-items: center;
}

.about_info h1 {
  margin-bottom: 30px;
}

.about_info_p1 {
  font-size: 14px;
  margin-bottom: 20px;
}

.about_info_p2 {
  font-size: 14px;
}

.contact_info {
  margin-top: 20px;
  color: #fff;
}

.contact_info strong {
  color: #ff4a57;
}
.contact_info p {
  margin-top: 3px;
}

.contact_info .col-6 {
  margin: 10px 0px;
}
/* portfolio */
.portfolio {
  width: 100%;
  background: #1f2235;
  padding: 100px 0;
}

.common {
  width: 33.33333333333333%;
  margin: 20px auto;
  text-align: center;
}

.heading {
  margin-bottom: 20px;
  font-weight: 500;
  color: #ff4a57;
  font-size: 16px;
}

.main_header {
  font-size: 32px;
  margin-bottom: 20px;
  color: #fff;
}

.main_content {
  font-size: 16px;
  color: #dfdfdf;
}

.common_border {
  background: #ff4a57;
  height: 3px;
  width: 100px;
  margin: 30px auto;
}

.portfolio_box {
  padding: 40px;
  background: #23263a;
  color: #fff;
  margin: 20px;
  transition: all 0.5s linear;
}

.portfolio_box:hover {
  background: #ff4a57;
}

.common_icons {
  font-size: 40px;
  color: #ff4a57;
  margin-bottom: 15px;
}

.portfolio_box:hover .common_icons {
  color: #fff;
}

.portfolio_box_header {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 15px;
}

.portfolio_box-p {
  font-size: 14px;
  color: #dfdfdf;
}
/*resume*/
#resume {
  background: #23263a;
  color: #dfdfdf;
  padding-top: 90px;
  padding-bottom: 72px;
  overflow: hidden;
}
section {
  display: block;
}
.row {
  width: 96%;
  max-width: 1020px;
  margin: 0 auto;
}
.education, .work {
  margin-bottom: 48px;
  padding-bottom: 24px;
  border-bottom: 1px solid #E8E8E8;
}
#resume .header-col {
  padding-top: 9px;
}
.row .three {
  width: 25%;
}
.columns {
  position: relative;
  padding: 0 20px;
  min-height: 1px;
  float: left;
}
#resume .main-col {
  padding-right: 10%;
}
[class*="column"]+[class*="column"]:last-child {
  float: right;
}
.row .row {
  width: auto;
  max-width: none;
  margin: 0 -20px;
}
.row .twelve {
  width: 100%;
}
#resume h3 {
  font: 25px/30px 'opensans-bold', sans-serif;
}
h3 {
  font-size: 22px;
  line-height: 30px;
  margin-bottom: 12px;
}
#resume .info {
  font: 16px/24px 'librebaskerville-italic', serif;
  color: #6E7881;
  margin-bottom: 18px;
  margin-top: 9px;
}
p {
  margin: 0 0 30px 0;
}
#resume .info span {
  margin-right: 5px;
  margin-left: 5px;
}
#resume .date {
  font: 15px/24px 'opensans-regular', sans-serif;
  margin-top: 6px;
}
em {
  font: 15px/30px 'opensans-italic', sans-serif;
}
p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
#resume h1 span {
  border-bottom: 3px solid #4e8383;
  padding-bottom: 6px;
} */
/* .resume {
  width: 100%;
  background: #23263a;
  padding: 100px 0;
  color: #dfdfdf;
}
.title h1 {
  font: 18px/24px 'opensans-bold', sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
}
/*Contact*/
.contact {
  padding: 100px 0;
  background: #1f2235;
  /* font-weight: 500; */
}
.contactCircles {
  width: 100%;
  display: flex;
  list-style: none;
  justify-content: center;
}

.contactCircles li {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background: #1f2235;
;
  margin: 0 10px;
  transition: all 0.5s linear;
  cursor: pointer;
}
.contactCircles li:hover {
  background: #ff4a57;
}
.toggle {
  position: fixed;
  top: 20px;
  right: 25px;
  background: #000;
  color: #fff;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  display: none;
}

@media (max-width: 765px) {
  .container {
    width: 100%;
    padding: 0 50px;
  }

  .col-6 {
    width: 100%;
  }
.col-9 {
  width: 100%;
}
  .col-3 {
    width: 100%;
  }

  .col-4 {
    width: 100%;
  }

  .navbar_right {
    flex-direction: column;
    width: 100%;
    align-items: center;
    background: #1f2235;
    position: fixed;
    top: 0;
    left: 0;
  }

  .navbar_right li a {
    display: block;
    padding: 20px 0;
    font-size: 14px;
  }

  .toggle {
    display: flex;
  }

  .banner_img img {
    display: none;
  }

  .header_section h1 {
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 20px;
  }

  .header_section p {
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;
    margin-bottom: 50px;
  }

  .common {
    width: 100%;
  }

  .h-650 {
    height: auto;
  }
}