@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
:root {
  --primary-white: #ffffff;
  --primary-light-grey: #f4f4f4;
  --primary-grey: #ccd1d9;
  --primary-dark-grey: #666666;
  --primary-orange: #f9ab00;
  --primary-dark: rgb(52, 58, 64);
  --primary-red: #ef4035;
  --primary-hover-red: #f33501;
  --primary-black: #000000;
}

body {
  font-family: 'Roboto Condensed', sans-serif !important;
}

/************************************ NavBar*************************************/
nav {
  z-index: 2;
}
/*-----menu link------- */
nav a.nav-link{
  letter-spacing: 0.0375rem;
  cursor: pointer;
  font-size: 0.9rem !important;
}
nav ul li {
  text-transform: uppercase;
}
.navbar-nav >li > a {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  color: var(--primary-white) !important;
  border-top: 0.1875rem solid var(--primary-dark);
}
.navbar-brand {
  text-transform: uppercase;
  font-family: fantasy;
  color: rgb(255, 255, 255) !important;
  font-size: 3rem !important;
  margin-left: 3.125rem;
  /* color: var(--primary-white) !important; */
}
.navbar-nav > li > a.active, .navbar-nav > li > a:focus {
  border-top: 0.1875rem solid var(--primary-white);
}
.navbar-nav> li > a:hover {
  border-top: 0.1875rem solid var(--primary-white);
}

/************************************ Header*************************************/
.header-wraper {
  position: relative;
  opacity: 0.8;
  background: url(background1.jpg) no-repeat  ;
  background-size: cover;
  background-position: center;
  height: 100vh;
}
.main-info {
  display: flex;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Roboto Condensed',
  sans-serif;
}
.main-info h1 {
  color: var(--primary-white);
  /* color: var(--primary-orange); */
  text-transform: uppercase;
  font-size: 2.1rem !important;
}
@media(max-width: 768px) {
  .main-info h1{
    font-size: 1.7rem !important;
  }
}
/*-----Typed Text------- */
.typed-text {
  font-size: 1.5rem;
  color: var(--primary-white);
  /* color: var(--primary-orange); */
}

.btn-main-offer {
  border: 1px solid var(--primary-red);
  text-transform: uppercase;
  border-radius: 0;
  padding: 0.625rem 0.75rem 0.75rem 0.75rem;
  color: var(--primary-white);
  /* color: var(--primary-orange); */
  margin-top: 0.7rem;
  font-size: 0.9rem;
}

@media(max-width: 768px) {
  .typed-text {
    font-size: 1.3rem !important;
  }
  .btn-main-offer{
    font-size: 1.3rem !important;
  }
}
.btn-main-offer:hover {
  text-decoration: none;
  background-color: var(--primary-hover-red);
  color: var(--primary-white);
  transition: 0.2s ease-in-out;
}

.header_ul {
  list-style-type: none;
  display: flex;
  margin-top: 20px;
  color: #968d8d;
}

.header_ul li {
  width: 50px;
  height: 50px;
  border: 2px solid var(--primary-white);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s linear;
  margin: 0 10px;
}
.header_ul li a {
  color: var(--primary-white);
  /* color: #f33501; */
}
.header_ul li:hover {
  background: #fff;
  border: 2px solid transparent;
}

.header_ul li:hover .header_icon {
  color: #ff4a57;
}

.header_ul li:first-child {
  margin-left: 0;
}
/************************************ About *************************************/
.photo-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-img {
  width: 31rem;
  height: 25rem;
  border-radius: 50%;
  padding: 0.3rem;
  border: 0.0625rem solid var(--primary-orange);
}
.about-heading{
  text-align: center;
  /* color: var(--primary-orange); */
  color: var(--primary-dark);
  text-transform: uppercase;
}
@media(max-width: 468px) {
  .profile-img {
    width: 10rem;
  }
}
/************************************ Skills *************************************/
.skills {
  text-align: center;
  padding-bottom: 2rem;
  background: var(--primary-light-grey)
}

/* .skills h1 {
  color: var(--primary-dark);
  text-transform: uppercase;
}

.skills .circle {
  position: relative;
  margin: 0.375rem auto;
  background: var(--primary-orange);
  border-radius: 50%;
  width: 3.125rem;
  height: 3.125rem;
}

.skills .icon {
  font-size: 1.4rem;
  color: var(--primary-white);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.skills .box {
  height: 16rem;
  border-bottom: 0.3125rem solid var(--primary-orange);
  padding: 0.625rem;
  margin-bottom: 1.875rem;
  background: var(--primary-white);
}

.skills .box:hover {
  background: var(--primary-orange);
  border-bottom: 0.3125rem solid var(--primary-dark);
}

.skills .box:hover .icon {
  color: var(--primary-dark);
}

.skills .box:hover .circle {
  background: var(--primary-white);
}

.skills .box:hover p {
  color: var(--primary-white);
} */
.main_header {
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  margin-bottom: 1.25rem;
}

.main_context {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  /* color: #131212; */
}

.box {
  padding: 2.5rem;
  background: #4b4e64;
  /* background: var(--primary-white); */
  color: #fff;
  margin: 1.25rem;
  transition:  0.5s ease-in-out;
}
.box:hover {
  background: #ff4a57;
}

.box:hover .common_icons {
  color: #fff;
}

.common_icons {
  font-size: 2.5rem;
  color: #ff4a57;
  margin-bottom: 0.9375rem;
}

.skills_box_header {
  font-size: 1.1rem !important;
  font-weight: 100;
  margin-bottom: 0.9375rem;
}

.skills_box_text {
  color: #dfdfdf;
}
.common_border {
  background: #6d6b6b;
  height: 0.1875rem;
  width: 6.25rem;
  margin: 1.875rem auto;
}
.common {
  width: 33.33333333333333%;
  margin: 1.25rem auto;
  text-align: center;
}

@media(max-width: 768px) {
.row {
    width: 100% !important;
  }
}
/************************************ Resume*************************************/
.resume {
  padding: 0.7rem;
}

.resume-wrapper {
  position: relative;
  padding: 3.125rem 0;
  overflow: hidden;
}

.resume h1 {
  text-transform: uppercase;
  color: var(--primary-orange);
}

.resume-wrapper::before {
  position: absolute;
  content: "";
  top: 0;
  left: 50%;
  margin-left: -0.0625rem;
  width: 0.125rem;
  height: 100%;
  background: var(--primary-grey);
  z-index: 1;
}

.timeline-block {
  width: calc(50% + 0.5rem);
  display: flex;
  justify-content: space-between;
  clear: both;
}

.timeline-block-right {
  float: right;
}

.timeline-block-left {
  float: left;
  direction: rtl;
}


.marker {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  ;
  border: 0.3125rem solid var(--primary-dark);
  background: var(--primary-orange);
  margin-top: 0.625rem;
  z-index: 3;
}

.timeline-content {
  width: 95%;
  padding: 0 0.9375rem;
  color: var(--primary-dark-grey);
  direction: ltr;
}

.timeline-content h3 {
  margin-top: 0.3125rem;
  color: var(--primary-red);
  font-weight: 900;
}

/*------------ MEDIA ------------------*/
@media(max-width: 768px) {
  .resume .container {
    padding-left: 0;
  }

  .resume-wrapper::before {
    left: 0.5rem;
    margin-bottom: 1.875rem;
  }

  .timeline-block-right {
    float: none;
    width: 100%;
  }

  .timeline-block-left {
    float: none;
    direction: ltr;
    width: 100%;
  }
}
/************************ PORTFOLIO *********************************/
.portfolio-wrapper {
  background: var(--primary-light-grey);
  padding: 3rem 0;
}

.portfolio-wrapper h1 {
  color: var(--primary-orange);
}

.portfolio-image {
  width: 15rem;
  border: 1px solid var(--primary-orange);
  padding: 0 0.5rem;
}

.portfolio-image-box {
  position: relative;
  margin: 1rem;
}
.popupbox-wrapper {
  margin-top: 7rem;
}
/*------------ OVERFLOW BOX ------------------*/
.overflow {
  position: absolute;
  opacity: 0;
  background: var(--primary-black);
  width: 15rem;
  height: 8rem;
  top: 0;
  border: 1px solid var(--primary-red);
  cursor: pointer;
}

.portfolio-image-box:hover .overflow {
  opacity: 60%;
  transition: 0.3s ease-in-out;
}

.portfolio-icon {
  position: absolute;
  opacity: 0;
  margin-left: -8rem;
  margin-top: 3.6rem;
  color: var(--primary-orange);
  font-size: 1.5rem;
}

.portfolio-image-box:hover .portfolio-icon {
  opacity: 70%;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

/*------------ OVERFLOW BOX ------------------*/
.portfolio-image-popupbox {
  width: 45rem;
  padding: 0 0.5rem;
}

.hyper-link {
  cursor: pointer;
  color: var(--primary-orange);
}

.hyper-link:hover {
  color: var(--primary-red);
}

/*------------ MEDIA ------------------*/
@media(max-width: 768px) {
  .portfolio-image-popupbox {
    width: 100%;
  }
}

@media(max-height: 570px) {
  .popupbox-wrapper {
    height: 100%;
  }

  .portfolio-image-popupbox {
    width: 50%;
  }
}

@media(max-height: 280px) {
  .popupbox-wrapper {
    height: 90%;
  }

  .portfolio-image-popupbox {
    width: 30%;
  }
}
/************************ Contacts *********************************/
/*
.contacts {
  background: var(--primary-dark);
  padding: 3rem 0;
}

.contacts h1 {
  color: var(--primary-orange);
  padding: 1.3rem 0;
  text-transform: uppercase;
}

.contacts p {
  color: var(--primary-light-grey);
  font-size: 1.2rem;
}

/*------------------ INPUTS -------------------------------*/
/* .contacts input,
.contacts textarea {
  width: 100%;
  box-sizing: border-box;
  background: none;
  resize: none;
  border: 0;
  border-bottom: 0.125rem solid var(--primary-dark-grey);
  border-radius: 0;
  color: var(--primary-orange);
  outline: 0 !important;
  box-shadow: none !important;
  margin-bottom: 1rem;
  padding-left: 0 !important;
}

.contacts .container {
  padding: 4rem 0;
}

.contacts input:focus,
.contacts textarea:focus {
  background: transparent;
  color: var(--primary-orange);
  border-bottom: 0.125rem solid var(--primary-dark-grey);
}

.contacts textarea {
  height: 12.2rem !important;
}

.contact-btn {
  margin: 1rem 0 0 0;
  width: 100%;
  background: none;
}

.line {
  position: relative;
  top: -0.8rem;
  width: 0;
  height: 0.125rem;
  background: var(--primary-orange);
  display: inline-block;
}

input:focus+.line,
textarea:focus+.line {
  width: 100%;
  transition: width 0.5s ease-in-out;
}

input.form-control {
  margin: -0.3rem 0;
}

textarea.form-control {
  margin: -0.3rem 0;
}

.error-message {
  color: var(--primary-white);
  background: var(--primary-hover-red);
  text-align: left;
}

.success-message {
  font-weight: 900;
  color: var(--primary-green);
} */

/*---------------- MEDIA -----------------------*/
/* @media(max-width: 768px) {
  .contacts {
    overflow-x: hidden;
  }

  .contacts .container {
    padding: 0 1rem;
  }

  .contacts p {
    padding: 0 0.4rem;
  }
}  */










/* .resume {
  padding: 0.7rem;
}
.resume-wrapper {
  position: relative;
  padding: 3.125rem;
  overflow: hidden;
}
.resume h1{
  text-transform: uppercase;
  color: var(--primary-orange);
}
.resume-wrapper::before {
  position: absolute;
  content: "";
  top: 0;
  left: 50%;
  margin-left: -0.0625rem;
  width: 0.125rem;
  height: 100%;
  background: var(--primary-grey);
  z-index: 1;
}

.timeline-block {
  width: calc(50% + 0.5rem);
  display: flex;
  justify-content: space-between;
  clear: both;
}

.timeline-block-right {
  float: right;
}

.timeline-block-left {
  float: left;
  direction: rtl;
}


.marker {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 0.3125rem solid var(--primary-dark);
  background: var(--primary-orange);
  margin-top: 0.625rem;
  z-index: 3;
}

.timeline-content {
  width: 95%;
  padding: 0 0.9375rem;
  color: var(--primary-dark-grey);
  direction: ltr;
}

.timeline-content h3 {
  margin-top: 0.3125rem;
  color: var(--primary-red);
  font-weight: 900;
}
/*------------ MEDIA ------------------*/
/* @media(max-width: 768px) {
  .resume-wrapper {
    padding-left: 0;
  }
  .resume-wrapper::before {
    left: 0.5rem;
    margin-bottom: 1.875rem;
  }

  .timeline-block-right {
    float: none;
    width: 100%;
  }

  .timeline-block-left {
    float: none;
    direction: ltr;
    width: 100%;
  }
} */ 

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

.header {
  width: 100%;
  height: 100vh; */
  /* background: url("https://images.unsplash.com/photo-1453928582365-b6ad33cbcf64?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1952&q=80"); */
  /* background: url("https://images.unsplash.com/photo-1493723843671-1d655e66ac1c?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80"); */
  /* background-image: url("./images/pic3.jpg"); */
  /* background-image: url("https://www.fg-a.com/wallpapers/2017-white-circles.jpg"); */
  /* background-image: url("https://apkpure.com/white-background/com.qanjerumbi.white.whitebackground#com.qanjerumbi.white.whitebackground-1"); */
  /* background-color: #23263a;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
.navbar {
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0;
  background-color: #1f2235;
  z-index: 1;
}

.navbar__container {
  display: flex;
  height: 100px;
  align-items: center;
  justify-content: space-between;
}
.navbar-brand {
  text-transform: uppercase;
font-family: fantasy;
  color: #fff;
  font-weight: 700;
  font-size: 35px;
}


.navbar-brand {
  text-decoration: none;
}
.navbar_right {
  display: flex;
  list-style-type: none;
}
.navbar_right li a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  font-size: 18px;
  padding: 0 15px;
} */

/* Helaper*/
/* .container {
  width: 1200px;
  margin: 0 auto;
}

.row {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}
.icon {
  margin: 24px 0;
  padding: 0;
}
.icon li {
    display: inline-block;
    margin: 0 15px;
    padding: 0;
    margin-bottom: 2px;
}
.col-6 {
  width: 50%;
}
.col-9 {
  width: 15%;
}

.header_content{
  display: flex;
  align-items: center;
  height: 100vh;
  width: 100%;
  color: rgb(150, 141, 141);
}

.header_ul {
  list-style-type: none;
  display: flex;
  margin-bottom: 20px;

}

.header_ul li {
  width: 50px;
  height: 50px;
  border: 2px solid #ff4a57;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s linear;
  margin: 0 10px;
}

.header_ul li:hover {
  background: #fff;
  border: 2px solid transparent;
}

.header_ul li:hover .header_icon {
  color: #ff4a57;
}
.header_ul li:first-child {
  margin-left: 0;
}
.header_section h1 {
  font-size: 35px;
  font-weight: 700;
  margin-bottom: 20px;
}
.header_section p {
  font-size: 25px;
  font-weight: 300;
  line-height: 35px;
}

.banner_img {
  padding: 0 30px;
  margin-top: 150px;
}
.skills {
  background: #23263a;
  padding: 100px 0;
  color: #fff;
}

.common {
  width: 33.33333333333333%;
  margin: 20px auto;
  text-align: center;
}

.heading {
  margin-bottom: 20px;
  font-weight: 500;
  color: #ff4a57;
  font-size: 16px;
}

.main_header {
  font-size: 32px;
  margin-bottom: 20px;
  color: #fff;
}

.main_content {
  font-size: 16px;
  color: #dfdfdf;
}

.common_border {
  background: #ff4a57;
  height: 3px;
  width: 100px;
  margin: 30px auto;
}

.col-4 {
  width: 33.33333333333333%;
}
.skills_box {
  padding: 40px;
  background: #1f2235;
  color: #fff;
  margin: 20px;
  transition: all 0.5s linear;
}
.skills_box:hover {
  background: #ff4a57;
}
.skills_box:hover .common_icons  {
  color: #fff;
}
.common_icons {
  font-size: 40px;
  color: #ff4a57;
  margin-bottom: 15px;
}

.skills_box_header {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 15px;
}

.skills_box_text {
  font-size: 14px;
  color: #dfdfdf;
}

.about {
  width: 100%;
  background: #1f2235;
  padding: 100px 0;
}

.about_img {
  padding: 30px;
}

.about_img img {
  width: 300px;
  height: 400px;
}

.about_info {
  color: #fff;
}
.h-650 {
  height: 650px;
}

.alignCenter {
  align-items: center;
}

.about_info h1 {
  margin-bottom: 30px;
}

.about_info_p1 {
  font-size: 14px;
  margin-bottom: 20px;
}

.about_info_p2 {
  font-size: 14px;
}

.contact_info {
  margin-top: 20px;
  color: #fff;
}

.contact_info strong {
  color: #ff4a57;
}
.contact_info p {
  margin-top: 3px;
}

.contact_info .col-6 {
  margin: 10px 0px;
}
/* portfolio */
/* .portfolio {
  width: 100%;
  background: #1f2235;
  padding: 100px 0;
}

.common {
  width: 33.33333333333333%;
  margin: 20px auto;
  text-align: center;
}

.heading {
  margin-bottom: 20px;
  font-weight: 500;
  color: #ff4a57;
  font-size: 16px;
}

.main_header {
  font-size: 32px;
  margin-bottom: 20px;
  color: #fff;
}

.main_content {
  font-size: 16px;
  color: #dfdfdf;
}

.common_border {
  background: #ff4a57;
  height: 3px;
  width: 100px;
  margin: 30px auto;
}

.portfolio_box {
  padding: 40px;
  background: #23263a;
  color: #fff;
  margin: 20px;
  transition: all 0.5s linear;
}

.portfolio_box:hover {
  background: #ff4a57;
}

.common_icons {
  font-size: 40px;
  color: #ff4a57;
  margin-bottom: 15px;
}

.portfolio_box:hover .common_icons {
  color: #fff;
}

.portfolio_box_header {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 15px;
}

.portfolio_box-p {
  font-size: 14px;
  color: #dfdfdf;
}  */
/*resume*/
/* #resume {
  background: #23263a;
  color: #dfdfdf;
  padding-top: 90px;
  padding-bottom: 72px;
  overflow: hidden;
}
section {
  display: block;
}
.row {
  width: 96%;
  max-width: 1020px;
  margin: 0 auto;
}
.education, .work {
  margin-bottom: 48px;
  padding-bottom: 24px;
  border-bottom: 1px solid #E8E8E8;
}
#resume .header-col {
  padding-top: 9px;
}
.row .three {
  width: 25%;
}
.columns {
  position: relative;
  padding: 0 20px;
  min-height: 1px;
  float: left;
}
#resume .main-col {
  padding-right: 10%;
}
[class*="column"]+[class*="column"]:last-child {
  float: right;
}
.row .row {
  width: auto;
  max-width: none;
  margin: 0 -20px;
}
.row .twelve {
  width: 100%;
}
#resume h3 {
  font: 25px/30px 'opensans-bold', sans-serif;
}
h3 {
  font-size: 22px;
  line-height: 30px;
  margin-bottom: 12px;
}
#resume .info {
  font: 16px/24px 'librebaskerville-italic', serif;
  color: #6E7881;
  margin-bottom: 18px;
  margin-top: 9px;
}
p {
  margin: 0 0 30px 0;
}
#resume .info span {
  margin-right: 5px;
  margin-left: 5px;
}
#resume .date {
  font: 15px/24px 'opensans-regular', sans-serif;
  margin-top: 6px;
}
em {
  font: 15px/30px 'opensans-italic', sans-serif;
}
p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
#resume h1 span {
  border-bottom: 3px solid #4e8383;
  padding-bottom: 6px;
} */
/* .resume {
  width: 100%;
  background: #23263a;
  padding: 100px 0;
  color: #dfdfdf;
}
.title h1 {
  font: 18px/24px 'opensans-bold', sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
}
/*Contact*/
/* .contact {
  padding: 100px 0;
  background: #1f2235;
}
.contact p {
    text-align: center;
    margin-top: 30px;
}
.contactCircles {
  width: 100%;
  display: flex;
  list-style: none;
  justify-content: center;
}

.contactCircles li {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background: #1f2235;
;
  margin: 0 10px;
  transition: all 0.5s linear;
  cursor: pointer;
}
.contactCircles li:hover {
  background: #ff4a57;
}
.toggle {
  position: fixed;
  top: 20px;
  right: 25px;
  background: #000;
  color: #fff;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  display: none;
}

@media (max-width: 765px) {
  .container {
    width: 100%;
    padding: 0 50px;
  }

  .col-6 {
    width: 100%;
  }
.col-9 {
  width: 100%;
}
  .col-3 {
    width: 100%;
  }

  .col-4 {
    width: 100%;
  }

  .navbar_right {
    flex-direction: column;
    width: 100%;
    align-items: center;
    background: #1f2235;
    position: fixed;
    top: 0;
    left: 0;
  }

  .navbar_right li a {
    display: block;
    padding: 20px 0;
    font-size: 14px;
  }

  .toggle {
    display: flex;
  }

  .banner_img img {
    display: none;
  }

  .header_section h1 {
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 20px;
  }

  .header_section p {
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;
    margin-bottom: 50px;
  }

  .common {
    width: 100%;
  }

  .h-650 {
    height: auto;
  }
} */