* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

.header {
  width: 100%;
  height: 100vh;
  /* background: url("https://images.unsplash.com/photo-1453928582365-b6ad33cbcf64?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1952&q=80"); */
  /* background: url("https://images.unsplash.com/photo-1493723843671-1d655e66ac1c?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80"); */
  /* background-image: url("./images/pic3.jpg"); */
  background-image: url("https://www.fg-a.com/wallpapers/2017-white-circles.jpg");
  /* background-image: url("https://apkpure.com/white-background/com.qanjerumbi.white.whitebackground#com.qanjerumbi.white.whitebackground-1"); */
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
.navbar {
  width: 100%;
  height: 100px;
  /* opacity: 0.1; */
  position: fixed;
  top: 0;
  background: #b3c2b2;
  z-index: 1;
  /* box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1); */
}

.navbar__container {
  display: flex;
  height: 100px;
  align-items: center;
  justify-content: space-between;
}
.navbar-brand {
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
  font-size: 18px;
}
/* .navbar__left-logo img {
  width: 110px;
} */
.navbar_right {
  display: flex;
  list-style-type: none;
}
.navbar_right li a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  font-size: 18px;
  padding: 0 15px;
}

/* Helaper*/
.container {
  width: 1200px;
  margin: 0 auto;
}

.row {
  display: flex;
  width: 100%;
}

.col-6 {
  width: 50%;
}

.header_content{
  display: flex;
  align-items: center;
  height: 100vh;
  width: 100%;
  color: rgb(150, 141, 141);
}

.header_ul {
  list-style-type: none;
  display: flex;
  margin-bottom: 20px;

}

.header_ul li {
  width: 50px;
  height: 50px;
  border: 2px solid #242222;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
}

.header_ul li:first-child {
  margin-left: 0;
}
.header_section h1 {
  font-size: 35px;
  font-weight: 700;
  margin-bottom: 20px;
}
.header_section p {
  font-size: 25px;
  font-weight: 300;
  line-height: 35px;
}

.banner_img {
  padding: 0 30px;
  margin-top: 150px;
}
.services {
  background: #78797e;
  padding: 100px 0;
  color: #fff;
}

.common {
  width: 33.33333333333333%;
  margin: 20px auto;
  text-align: center;
}

.heading {
  margin-bottom: 20px;
  font-weight: 500;
  color: #ff4a57;
  font-size: 16px;
}

.main_header {
  font-size: 32px;
  margin-bottom: 20px;
  color: #fff;
}

.main_content {
  font-size: 16px;
  color: #dfdfdf;
}

.common_border {
  background: #ff4a57;
  height: 3px;
  width: 100px;
  margin: 30px auto;
}